{% extends "dashboard.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>
{% endblock %}
{% block body %}
<body>

<div>
	<h1 align="center"><strong>INFORMATION</strong></h1>
</div>
<br>
<div>

	{% if datas %}

	
	<table>
	{% for data in datas %}
	  <tr>
	    <th><strong>{{data[0]}}</strong></th>
	    <td>{{data[1]}}</td>
	  </tr>
	{% endfor %}
	</table>

	{% else %}
	

	<P>sorry for the inconvinience .... but we could not find any information about the place you entered .....you can check your place and re-enter it one more time.....</P>


	{% endif %}
</div>
<br>
<br>
<br>
<div>
	<h1 align="center"><strong>PHOTOS</strong></h1>
</div>
<br>
<div>

	{% if place_elements %}

	{% for place_element in place_elements %}
			<div class="row">
  			
    			<img class="displayed" src="{{place_element[0]}}" height="250" width="250" align="bottom-right">
  
  				<div class="desc">{{place_element[1]}}</div>
  			
  				<br>
			</div>

	{% endfor %}

	
	{% else %}

<P>sorry for the inconvinience .... but we could not find any photo of the place you entered .....you can check your place and re-enter it one more time.....</P>


	{% endif %}
<div></div>

</div>
<div>
<br>
<div></div>
<br>
<br>
</div>

	<div></div>
<br>
	<h1 align="center"><strong>REVIEW</strong></h1>
<br>
<div>

	{% if review %}
	<p align="center">{{review}}</p>
	<form>
	<h3 align="right"><a href="/dashboard/{{username}}/{{searchplace}}/edit">EDIT</a></h3>
	</form>
	<br>
	{% else %}
	<br>
	<form enctype="multipart/form-data" style="margin-left: 20px" method="POST" autocomplete="off">
		<label for="code"><strong><h5>Write your review or some note about the place below</h5></strong></label>
      <textarea cols="60" rows="25" name="review" id="review" style="width: 80%; height: 60%; display: inline; background: white; color:black;border-color: black; font-size: 15px;font-family: consolas;" wrap="off"></textarea>
      <br>
      <button type="submit">SAVE</button>
    </form>
    	<br>
    {% endif %}
</div>
<br>
<br>

</body>


{% endblock %}
